{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/login.css' %}" />
    
    <title>Регистрация</title>
</head>
<body>

    <div class="bg-image">
        <div class="signup-container">
            <h1>Регистрация</h1>
            <h2>Безлимитные фильмы, сериалы и многое другое.</h2>

            <div>
                <style>
                    h5{
                        color: red;
                    }
                </style>
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}
            </div>

            <form action="" method="POST">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Электронная почта" />
                <input type="text" name="username" placeholder="Имя пользователя" />
                <input type="password" name="password" placeholder="Пароль" />
                <input type="password" name="password2" placeholder="Повторите пароль" />
                <button style="color:white" type="submit" class="signup-btn">Начать ></button>
            </form>
            <div class="help-text" align="center">
                <span>Готовы смотреть? Введите свой email, чтобы создать или восстановить подписку.</span>
                <br>
                <br>
                <span>Уже есть аккаунт? <a href="/login">Войти</a></span>
            </div>
        </div>
    </div>

</body>
</html>
